/fishd.*
/fish_history

# Files installed by fisherman.
/completions/fisher.fish
/completions/fnm.fish
/completions/get.fish
/completions/nvm.fish
/completions/spin.fish
/conf.d/fnm.fish
/functions/__bass.py
/functions/__can_run_command.fish
/functions/__fnm_index_update.fish
/functions/__fnm_list.fish
/functions/__fnm_mirror.fish
/functions/__fnm_read_fnmrc.fish
/functions/__fnm_rm.fish
/functions/__fnm_run_bin_as.fish
/functions/__fnm_usage.fish
/functions/__fnm_use.fish
/functions/__fnm_version_download.fish
/functions/__fnm_version_local.fish
/functions/__fnm_version_query.fish
/functions/__fnm_version_validate.fish
/functions/__fnm_version_which.fish
/functions/__nvm_run.fish
/functions/_pisces_append.fish
/functions/_pisces_backspace.fish
/functions/_pisces_bind_pair.fish
/functions/_pisces_complete.fish
/functions/_pisces_jump.fish
/functions/_pisces_lookup.fish
/functions/_pisces_remove.fish
/functions/_pisces_skip.fish
/functions/anicode.fish
/functions/await.fish
/functions/bass.fish
/functions/choices.fish
/functions/fish_prompt.fish
/functions/fish_right_prompt.fish
/functions/fish_user_key_bindings.fish
/functions/fnm.fish
/functions/get.fish
/functions/get_file_age.fish
/functions/getopts.fish
/functions/git_ahead.fish
/functions/git_branch_name.fish
/functions/git_is_detached_head.fish
/functions/git_is_dirty.fish
/functions/git_is_empty.fish
/functions/git_is_repo.fish
/functions/git_is_staged.fish
/functions/git_is_stashed.fish
/functions/git_is_tag.fish
/functions/git_is_touched.fish
/functions/git_repository_root.fish
/functions/git_untracked_files.fish
/functions/host_info.fish
/functions/humanize_duration.fish
/functions/last_job_id.fish
/functions/menu.fish
/functions/node.fish
/functions/npm.fish
/functions/npx.fish
/functions/nvm.fish
/functions/pwd_info.fish
/functions/pwd_is_home.fish
/functions/spin.fish
functions/yarn.fish
